* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes slide-back {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.background {
  width: 100vw;
  height: 100vh;
  background: url("../images/IMG_9745.JPG") no-repeat;
  background-size: 100vw 104vh;
  background-attachment: fixed;
}

.home {
  font-family: "Staatliches";
  position: absolute;
  padding: 30px 0 0 30px;
  width: 170px;
  height: 70px;
  color: #fff;
  font-size: 20px;
  animation: slide-back 0.4s ease-out forwards;
}

.home:hover {
  animation: slide 0.4s ease-out forwards;
}

.home .my-name {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.text1,
.text2 {
  font-family: "Staatliches";
  background-color: rgba(87, 84, 84, 0.1);
  position: absolute;
  left: 300px;
  top: 200px;
  padding: 1vw;
  font-size: 60px;
  color: #fff;
  border-radius: 30px;
  box-shadow: 5px 5px 15px 5px rgba(87, 84, 84, 0.1);
}

.text2 {
  left: 1000px;
}

.intro h2 {
  margin-bottom: 1vh;
}

.intro {
  position: absolute;
  top: 100vh;
  left: 50vw;
  margin-left: -25vw;
  margin-bottom: 200px;
  padding: 3vw;
  width: 50vw;
  height: 100vh;
  font-size: 40px;
  color: #fff;
  background-color: rgba(19, 19, 19, 0.7);
  border-radius: 60px;
  box-shadow: 10px 10px 15px 30px rgba(19, 19, 19, 0.7);
}

.placeholder {
  position: absolute;
  top: 220vh;
}
