* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes slide-back {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 150vh;
  background: linear-gradient(to right bottom, #366ba1, #abc7e3);
  background-attachment: fixed;
}

.home {
  font-family: "Staatliches";
  position: relative;
  padding: 30px 0 0 30px;
  width: 170px;
  height: 70px;
  color: #fff;
  font-size: 20px;
  animation: slide-back 0.5s ease-out forwards;
}

.home:hover {
  animation: slide 0.5s ease-out forwards;
}

.home .my-name {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.item {
  display: block;
  position: relative;
  left: 10vw;
  top: 25vh;
  margin: 20px;
  margin-bottom: 50px;
  width: 20vw;
  font-size: 2.5vw;
  font-family: "Staatliches";
  text-align: center;
  line-height: 7vh;
  animation: slide-back 0.5s ease-out forwards;
}

.item a {
  font-family: "Staatliches";
  font-size: 80px;
}

.item:hover {
  animation: slide 0.5s ease-out forwards;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50vw;
  top: 40vh;
  margin-top: -10vw;
  width: 45vw;
  height: 30vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 16px;
}

img {
  width: 42vw;
  height: 54vh;
  border-radius: 9px;
}
